!!!
%html(lang="en")
  %head
    %title File upload with progress
    %link(rel="stylesheet" href="/app.css")/
    %script(src="/jquery.js")
    %script(src="/app.js")

  %body
    %h1 File upload with progress
    = yield
